/* 
    Created on : 7 de jan. de 2023, 07:25:39
    Author     : fabio
*/

*, *:after, *:before{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-size: 1em;
    box-sizing: border-box;
}

.radius{ /*Bordas arredondadas*/
   border-radius: 15px;
   -moz-border-radius: 15px;
   -webkit-border-radius: 15px;
}

.btn{
    padding: 8px 50px;
    font-weight: normal;
    margin: 20px 4px;
    border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   text-decoration: none;
   text-align: center;
}

.btn_pink{
    background-color: #cf0061;
    color: #FFF;
    margin: 0 4px;
}

.btn:hover{
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.btn_green{
    background-color: #cf0061;
    color: #FFF;
}

.btrn_gren:hover{
    background-color: #00cc66;   
}


.btn_blue{
    background-color: #1773ea;
    color: #FFF;
}

.btrn_gren:hover{
    background-color: #ff3333;    
}

